@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --dark-mode-elements: hsl(209, 23%, 22%);
  --dark-mode-bg: hsl(207, 26%, 17%);
  --light-mode-elements: white;
  --light-mode-bg: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


img {
  max-width: 100%;
}

.app {
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--dark-mode-bg);
  color: hsl(0, 0%, 100%);
  min-height: 100vh;
  height: 100%;
}

.app.lightMode {
  background-color: var(--light-mode-bg);
  color: var(--dark-mode-bg);
}
/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
  background-color: var(--dark-mode-elements);
  box-shadow: 0px 0px 7px 0px #00000063;
}

.header.lightMode {
  background-color: var(--light-mode-bg);
  color: var(--dark-mode-bg);
}

.header h1 {
  font-size: 15px;
}

.mode {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 15px;
  align-items: center;
  cursor: pointer;
}

.header svg {
  font-size: 22px;
  padding-right: 5px;
}

/* Filter */
.filter {
  padding: 30px 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.filter .form-control {
  width: 100%;
  margin-bottom: 30px;
}

.form-control.lightMode {
  background-color: var(--light-mode-bg);
  color: var(--dark-mode-bg);
}

.filter .form-control input {
  background-color: var(--dark-mode-elements);
  color: white;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 5px;
  font-family: inherit;
  width: 100%;
  box-shadow: 0 0 5px 0px #00000036;
}

.form-control.lightMode input {
  background-color: var(--light-mode-elements);
}

.filter .form-control input::placeholder {
  color: white;
}

.form-control.lightMode input::placeholder{
  color: var(--dark-mode-bg);
}

.form-control.lightMode input{
  color: var(--dark-mode-bg);
}

.filter .region-filter {
  width: 100%;
}

.region-filter.lightMode {
  background-color: var(--light-mode-bg);
  color: var(--light-mode-elements);
}

.filter .region-filter select {
  background-color: var(--dark-mode-elements);
  color: white;
  font-family: inherit;
  padding: 15px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px 0px #00000036;
}

.region-filter.lightMode select{
  background-color: var(--light-mode-elements);
  color: var(--dark-mode-bg);
}


/* Countries */
.grid-country{
  display: flex;
  flex-wrap: wrap;
}

.countries {
  display: flex;
  gap: 35px;
  padding: 40px 0px;
  max-width: 1400px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.country {
  width: 300px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  background-color: var(--dark-mode-elements);
  height: 340px;
  cursor: pointer;
  border-radius: 5px;
}

.country.lightMode{
  background-color: white;
}

.country .flag {
  height: 170px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.country .flag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.details {
  padding: 20px;
  border-radius: 0 0 5px 5px;
}

.details.lightMode{
  background-color: white;
}


.details h3 {
  padding-bottom: 15px;
}

.details h4 {
  font-weight: 600;
  padding-top: 5px;
}

.details h4 span {
  font-weight: 300;
}

/* CountryDetail */

.btn-back,
.border-country {
  border: none;
  border-radius: 2px;
  background-color: var(--dark-mode-elements);
  color: rgba(255, 255, 255, 0.816);
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  box-shadow: 0px 0px 3px 2px #1c1c1c3a;
  cursor: pointer;
}

.btn-back{
  margin-left: 15px;
}

.btn-back.lightMode{
  background-color: var(--light-mode-elements);
  color: var(--dark-mode-elements);
}

.btn-back p {
  font-weight: 300;
  font-size: 15px;
}

.btn-back svg {
  padding-right: 6px;
  font-size: 25px;
}

.country-detail-body {
  display: flex;
  max-width: 1400px;
  justify-content: center;
  gap: 40px;
  padding-top: 40px;
  align-items: center;
}

.img-container {
  flex: 0.5;
  width: 60%;
}

.img-container img {
  width: 100%;
  object-fit: 100%;
}

.info-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.info{
  width: 40%;
}

.info h3 {
  padding-bottom: 20px;
  font-weight: 800;
  font-size: 20px;
}

.info-container p {
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 15px;
}



.value {
  font-weight: 300;
  padding-left: 4px;
}


.border-title {
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0 15px;
}

.border-countries {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.border-country {
  padding: 10px;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}

.border-country.lightMode{
  background-color: var(--light-mode-elements);
  color: var(--dark-mode-bg);
}

/* Mediaqueries CountryDetail */
@media (min-width: 300px) and (max-width: 767px) {
  
  .country-detail-body {
    flex-direction: column;
  }

  .info-container {
    flex-direction: column;
  }
}

@media (min-width: 767px) {
}
